.caption {
    display: none;
    @media screen and( min-width: 1200px) {
    display: block;
    padding-top: 0;
}
}

.caption__list {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.caption__tittle {
    text-transform: uppercase;
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--focus-color-text);
}

.caption__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0%;
    text-align: center;
}