.clients__title {
    display: block;
    text-align: center;
    font-family: var(---main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

.clients__list {
    @media screen and( min-width: 480px){
        display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    }


    @media screen and( min-width: 1200px) {
        flex-wrap:nowrap;
    display: flex;
    justify-content: space-between;
}
}

.clients__item-link {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;

    // margin-bottom: 30px;
    width: 100%;
    height: 92px;

    border: 1px solid var(--color-icons);
    box-sizing: border-box;
    border-radius: 4px;
    fill: var(--color-icons);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover, &:focus {
    fill: var(--accent-color-accent);
    border: 1px solid var(--accent-color-accent)
}

    @media screen and( min-width: 768px) and( max-width: 1199px) {
        flex-basis: calc((100% - 90px) / 3);
    }
    @media screen and( min-width: 1200px) {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

.clients__item{

     margin-top: 30px;
@media screen and( min-width: 480px) {
    margin-left: 30px;
   
    flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and( min-width: 768px) and( max-width: 1199px) {
    flex-basis: calc((100% - 90px) / 3);
    }
    @media screen and( min-width: 1200px) {
    display: flex;
    }}


.clients__list--top {
    margin-top: 50px;
}
.clients__icons {
    width: 106px;
    height: 60px;
}