.our-advantages__list {
    @media screen and( min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and( min-width: 1200px ){
        max-width: 1200px;
    }
}


.our-advantages__item {

    margin: 15px;
    @media screen and(min-width: 768px)  {
    width: calc(50% - 30px);
       
    
    }
    @media screen and (min-width: 1200px) {
         width: calc(25% - 30px);
        
    }
}

.our-advantages__bgr {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/icons/bgradve.svg);
    background-size: cover;
    border-radius: 6px;
    height: 120px;
    margin-bottom: 30px;
}
.our-advantages__icon {
    display: block;
    width: 70px;
    height: 76px;
}

.our-advantages__title {
    
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
     @media screen and(max-width: 767px){
         text-align: center;
     }

}

.our-advantages__subtitle {
    text-align: left;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
