:root {
    --accent-color-accent: #2196F3;
    --title-text-color: #212121;
    --main-text-color: #757575;
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --background-color: #F5F4FA;
    --background-color-light: #E5E5E5;
    --background-color-dark: #2F303A;
    --focus-color-text: #FFFFFF;
    --address__text-link-color-footer: rgba(255, 255, 255, 0.6);
    --border-color: #EEEEEE;
    --border-color-header: #ECECEC;
    --color-icons: #AFB1B8;
}
